 <!-- BEGIN SIDEBAR -->
<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="search">
            <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
            <form>
                <input type="text" class="search-query" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
        <li class="divider"></li>
        <li><a href="/Quantri/Home/Index/"><i class="fa fa-home"></i> <span>Trang Chủ</span></a></li>
        <li>
            <a href="javascript:;"><i class="fa fa-th"></i> <span>Chủng loại Sản phẩm</span> </a>
            <ul class="acc-menu">
                <li><a href="/Quantri/Categories/Create"><span>Thêm mới</span></a></li>
                <li><a href="/Quantri/Categories/Index"><span>Danh sách Chủng loại SP</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>Sản phẩm</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Quantri/Products/Create">Tạo Mới</a></li>
                <li><a href="/Quantri/Products/Index">Danh sách sản phẩm</a></li>
                <li><a href="/Quantri/Products/NoiBat">Nhóm SP Nổi bật</a></li>
                <li><a href="/Quantri/Products/MoiNhat">Nhóm SP mới</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>DS Dự Án</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Quantri/Collections/Create">Thêm Mới</a></li>
                <li><a href="/Quantri/Collections/Index">DS Các dự án</a></li>
                <li><a href="/Quantri/CollectionCategories/Index">DS Chủng loại Bộ sưu tập</a></li>
                <li><a href="/Quantri/Products/Index">Hình Ảnh Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-table"></i> <span>Tin tức</span></a>
            <ul class='acc-menu'>
                <li><a href="/Quantri/Blogs/Create">Thêm Mới</a></li>
                <li><a href="/Quantri/Blogs/Index">Danh sách tin tức</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-tasks"></i> <span>Các Danh Mục</span></a>
            <ul class="acc-menu">
                <li><a href="/Quantri/Home/ListMenus">Menus</a></li>
                <li><a href="/Quantri/AboutUs/Index">Về Chúng tôi</a></li>
                <li><a href="/Quantri/information/Index">Thông tin Chung</a></li>
                <li><a href="/Quantri/Customers/Index">Khách hàng tiêu biểu</a></li>
            </ul>
        </li>

        <li>
            <a href="/quantri/users/Index"><i class="fa fa-user"></i> <span>Tài Khoản</span> </a>

        </li>

        <li>
            <a href="javascript:;"><i class="fa fa-sliders"></i> <span>Slide Hình Ảnh</span></a>
            <ul class="acc-menu">
                <li><a href="~/Quantri/slides/forhomepage">Theo trang chủ</a></li>
               
            </ul>
        </li>

       

    </ul>
    <!-- END SIDEBAR MENU -->
</nav>









