@using NhomXingfa.Areas.Quantri.Models.DataModels
@using NhomXingfa.Areas.Quantri.Models
@using NhomXingfa.Models
@model FooterViewModel

<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <div class="footer-logo"><a href="/" title="Logo"><img src="~/img/LogoVuongTanThoi.jpg" style="width:120px" alt="logo"></a></div>
                <br />
                <ul>
                    @foreach (var i in Model.lstInformation)
                    {
                        <li><a href="#">@i.InfoContent</a></li>
                    }

                   
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Liên kết</h4>
                <ul>
                    <li><a href="https://noithattanthoi.com">Nội thất tân thời</a></li>
                    <li><a href="#">Nhôm Xingfa</a></li>
                    <li><a href="#">Google</a></li>
                    @*<li><a href="#">Terms of Service</a></li>*@
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Hệ thống website</h4>
                <ul>
                    <li><a href="https://noithattanthoi.com" target="_blank">noithattanthoi.com</a></li>
                    <li><a href="https://www.noithatbinhduonggiare.com/" target="_blank">noithatbinhduonggiare.com</a></li>
                    <li><a href="https://kinhbinhduong.com" target="_blank">kinhbinhduong.com</a></li>
                    <li><a href="https://www.nhomxingfabd.com/" target="_blank">nhomxingfabd.com</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>FANPAGE</h4>
               
                <div class="fb-page" data-href="https://www.facebook.com/noithattanthoi/" data-tabs="timeline" data-width="300" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/noithattanthoi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/noithattanthoi/">Nội Thất Tân Thời</a></blockquote></div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-12 col-md-12" style="text-align:center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; 2020 All rights reserved | Designed by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://noithattanthoi.com" target="_blank">Nội Thất Tân Thời</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
           
        </div>
    </div>
</footer>
