@{
    ViewBag.Title = "Liên hệ với chúng tôi";
}
@section metatags
{
    <meta name="keywords" content="nhôm kính Bình Dương, nhôm kính giá rẻ Bình Dương , nội thất chung cư bình dương, nội thất bình dương, thi công nội thất bình dương" />
    <meta name="description" content="Dịch vụ thiết kế thi công nhôm kính Tân thời chúng tôi, cung cấp các sản phẩm nhôm kính Xingfa giá rẻ nhưng chất lượng" />
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Contact Us</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_gap">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.6315314828685!2d106.67371131480267!3d10.99115999217603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d11e194e753d%3A0x44e22858461b1054!2zMzEgTMOqIEjhu5NuZyBQaG9uZywgUGjDuiBM4bujaSwgVGjhu6cgROG6p3UgTeG7mXQsIELDrG5oIETGsMahbmc!5e0!3m2!1sen!2s!4v1587735298113!5m2!1sen!2s" frameborder="0" style="border:0; width:100%; height:400px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Để lại lời nhắn, chúng tôi sẽ liên hệ với bạn</h2>
            </div>
            <div class="col-lg-8 mb-4 mb-lg-0">
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Enter Message"></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="form-group mt-lg-3">
                        <button type="submit" class="main_btn">Gửi đến chúng tôi</button>
                    </div>
                </form>


            </div>

            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>31 Lê Hồng Phong, Phú Lợi.</h3>
                        <p>Thủ Dầu Một, Bình Dương</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3><a href="tel:454545654"> 0979.77.11.33</a></h3>
                        <p>T2 to CN 9AM - 9PM</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:noithattanthoi@gmail.com">noithattanthoi@gmail.com</a></h3>
                        <p>Bạn có thể gửi email bất cứ lúc nào!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".pull-right li").removeClass("active");

            $(".pull-right li#menulh").addClass("active");

        });
    </script>
}